:root{
    --azul_muy_oscuro: rgb(4, 4, 27);
    --azul_oscuro: rgb(20, 20, 56);
    --gris: #94A5B5;
    --blanco: #fff;
}

/* ======= MODO OSCURO ======= */
.dark{
    background-color: var(--azul_muy_oscuro);
}

/* Navbar y Header dentro del modo oscuro */
.dark nav,
.dark header {
    background-color: var(--azul_oscuro);
}

/* Títulos y textos importantes */

.dark .categorias li:hover{
    color: var(--gris);
}

.dark #modo{
    background-image: url(../img/heavyball.png);
}

.dark #modo:hover{
    background-image: url(../img/pokeball.png);
}

/* Main */
.dark main{
    background-color: var(--azul_oscuro);
}

.dark h1{
    color: var(--blanco);
}

.dark .separador{
    border: 1px solid var(--gris);
}


/* Tarjeta de producto */
.dark .card-producto{
    background-color: var(--azul_muy_oscuro);
    border: 1px solid var(--gris);
}

/* Precios y textos dentro de la card */

.dark .card-producto h3 {
    color: var(--blanco);
}

.dark .card-producto p {
    color: var(--gris);
}

/* Input de cantidad */
.dark .card-producto input{
    background-color: var(--azul_muy_oscuro);
    color: var(--blanco);
    border-color: var(--gris);
}

/* Contador de unidades */
.dark .contador-unidades {
    color: #000000;
}

/* Botón “Agregar” */
.dark .button{
    background-color: #0a69cf;
    color: white;
}

.dark .total{
    color: var(--gris);
}