/*====================
  Variables generales
======================*/
:root{
    --azul: #007bff;
    --blanco: #fff;
    --rojo: #ff021b;
}

/*==================
  Estilos generales
====================*/
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:var(--blanco); /* Fondo blanco */
    margin: 0;
    color: #000000;
    width: 100%;
}

/*=================
   EMPIEZA HEADER
===================*/
header {
    background-color: var(--rojo);
    color: var(--blanco);
    text-align: center;
    border-bottom: 10px solid #000000;
    width: 100%;
}

/*===============
   EMPIEZA NAV
=================*/
.integrantes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: small;
}

/*===============
   nav imágenes
=================*/
.nav-img{
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 0;
    padding: 0;
}

.logo{
    width: 350px;
    height: auto;
    margin-top: 30px;
}

.carrito{
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-carrito{
    width: 50px;
    height: 50px;
}

#img-carrito:hover{
    cursor: pointer;
}

/*=================
   nav categorias
===================*/
.categorias {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.categorias li {
    color:var(--blanco);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
}

.categorias li:hover {
    color: #ffcb08;
    text-decoration: none;
    cursor: pointer;
}
/*===============
   TERMINA NAV
=================*/
/*=================
   TERMINA HEADER
===================*/

/*===============
   EMPIEZA MAIN
=================*/
main {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

main h1 {
    color: var(--azul); /* Azul principal */
    text-align: center;
    font-size: 2.5em;
}

/*=============================
   Empieza catalogo-productos
===============================*/
.catalogo-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.separador{
    border: 1px solid var(--rojo); /* rojo secundario */
    width: 100%;
}

/*===============================
   Empieza contenedor-productos
=================================*/
#contenedor-productos, .contenedor-carrito {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
}

/*==========================
   Empieza card-producto
============================*/
.card-producto {
    background-color: var(--blanco);
    border: 2px solid var(--azul); /* Azul principal */
    border-radius: 10px;
    padding: 15px;
    margin: 10px 5px;
    width: 180px;
    text-align: center;
    transition: transform 0.3s;
}

.card-producto:hover {
    transform: scale(1.05);
}

.card-producto img{
    height: 150px;
    width: 150px;
    margin: 0;
    
}

.card-producto h3 {
    color: var(--azul); /* Azul */
    margin: 15px 0;
}

.card-producto p {
    color: #333;
    font-weight: bold;
    margin: 5px 0;
}

.card-button{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 20px;
}

.contador-unidades{
    border: 2px solid var(--azul);
    border-radius: 5px;
    padding: 10px 10px;
    margin: 0;
    width: 56px;
}

.button{
    background-color: var(--azul);
    color: var(--blanco);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: medium;
}

.button:hover{
    background-color: #63afff;
    cursor: pointer;
}

#catalogo-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.total{
    color: red;
    font-weight: bold;
    align-self: flex-end;
}
/*===============
   TERMINA MAIN
=================*/

.mensaje-error strong {
    color: #ae4f4e;
}

.mensaje-error {
    color: #a94442;
    background-color: #f2dede;
    border: 2px solid #ebccd1;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
}

@media screen and (max-width: 730px) {
    .integrantes{
        font-size: x-small;
    }
    .categorias{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .logo{
        margin-top: 60px;
    }
}

@media screen and (max-width: 400px) {
    body{
        font-size: smaller;
    }
    h1{
        font-size: small;
    }
    .logo{
        width: 250px;
    }
    #img-carrito{
        height: 40px;
        width: 40px;
    }
    .card-button{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
}